@import url(reset.css);
@import url(../fonts/NanumSquare/font.css);

/* form */
input[type=text],input[type=email],input[type=password],textarea, select {-webkit-appearance: none;}
select{border: 1px solid #d9d9d9; height:50px; padding-left: 20px !important; -webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; z-index: 10; background: none; font-size: 15px; border-radius: 3px; background: url(../images/bg_appearance.png) no-repeat right 20px center; box-sizing: border-box; width: 100%; color: #333; font-family:'Nanum Square'; background-size: auto 10px;}
select::-ms-expand {display: none;}
.select{position: relative; background-color: #fff;}
.select select{width: 100%;}
.select:after{content: "\f0d7"; display: block; font-family:'FontAwesome'; color: #999; position: absolute; right:15px; top: 10px;}
.clearfix:after{content: ""; display: block; clear: both;}
button{background: none; padding: 0; line-height: 100%;  cursor: pointer; border: none;}
input[type=text],input[type=number],input[type=password]{border: 1px solid #d9d9d9; height: 50px; box-sizing: border-box; padding-left: 20px; font-weight: normal; font-family:'Nanum Square'; font-size: 15px; border-radius: 3px; color: #333; width: 100%;}
input[type=text]:disabled,input[type=number]:disabled,input[type=password]:disabled{background-color: #f7f7f7; color: #aaa;}
textarea{border: 1px solid #d9d9d9; padding: 10px; box-sizing: border-box;font-family:'Nanum Square'; font-size: 13px;}
input:focus, select:focus,textarea:focus{outline-width: 0; border: 1px solid #568db8;}
select:focus{color: #333;}
input.checkbox{width: 16px; height: 16px; border: 1px solid #e5e6ea;border-radius: 3px; vertical-align: middle;background-color: #fff; position: absolute; top: -9999px;}
input.checkbox:checked{background-color: #573fb1; border: 1px solid #573fb1;}
input.checkbox+label{display: inline-block; border: 1px solid #e5e6ea; width: 16px; height: 16px; box-sizing: border-box; background-color: #fff; vertical-align: middle; border-radius: 3px; position: relative;}
input.checkbox:checked+label{background-color: #573fb1; border: 1px solid #573fb1;}
input.checkbox:checked+label:after{content: "\f00c"; color: #fff; position: absolute; left: 0; top:0 ; font-family: "FontAwesome"; font-size: 10px; display: block; width: 14px; height: 14px;line-height: 14px; text-align: center;}

/* custom form */
input[type=radio]{vertical-align: middle; width: 24px; height: 24px; margin-right: 5px; background-color: #fff; border: 1px solid #c0c0c0;}
.form-radio{position: absolute; top: -9999px; width: 0; height: 0; visibility: hidden;}
.form-radio+label{line-height: 24px; display: inline-block; vertical-align: middle; cursor: pointer; color: #666;}
.form-radio+label:before{display: inline-block; width: 24px; height: 24px; background: url(../images/global/bg_radio.png) no-repeat 0 0; content: ""; vertical-align: middle; margin-right: 7px; cursor: pointer;}
.form-radio:checked+label{}
.form-radio:checked+label:before{background-position: 0 -24px; }
.form-radio:disabled+label:before{background-position: 0 -48px;}
input[type=checkbox]{vertical-align: middle; width: 20px; height: 20px; margin-right: 5px; background-color: #fff; border: 1px solid #c0c0c0;}
.form-check{position: absolute; top: -9999px; width: 0; height: 0; visibility: hidden;}
.form-check+label{line-height: 24px; display: inline-block; vertical-align: middle; cursor: pointer; color: #666;}
.form-check+label:before{display: inline-block; width: 20px; height: 20px; background: url(../images/global/bg_check.png) no-repeat 0 0; content: ""; vertical-align: middle; margin-right: 7px; cursor: pointer; background-size: 20px;}
.form-check:checked+label{}
.form-check:checked+label:before{background-position: 0 -20px; }
.form-check:disabled+label:before{background-position: 0 -60px;}
.form-select{min-width: 120px;}
.form-select dt{}
.form-select dt a{display: block; border: 1px solid #e4e4e4; height: 40px; line-height: 40px; box-sizing: border-box; padding-left: 15px; color: #888;}
.form-select dt a i{position: absolute; right: 12px; top: 15px; transition: all 0.2s ease;}
.form-select dd{position: absolute; width: 100%; left: 0; top:39px; background-color: #fff; display: none;}
.form-select dd ul{border: 1px solid #ea002c;}
.form-select dd ul li{}
.form-select dd ul li a{display: block; padding-left: 15px; height: 40px; line-height: 40px;}
.form-select.active dt a{border: 1px solid #ea002c;}
.form-select.active dt a i{transform: rotateZ(180deg);color: #ea002c;}
.form-select dd ul li a:hover{text-decoration: underline; color: #ea002c;}
.form-switch{position: absolute; top: -9999px; width: 0; height: 0; visibility: hidden;}
.form-switch+label{display: block; width: 40px; height: 20px; background-color: #aaaaaa; border-radius: 10px; position: relative; transition: all 0.4s ease;}
.form-switch+label:after{width: 16px; height: 16px; display: block; content: ""; background-color: #fff; border-radius: 50%; position: absolute; left: 2px; top: 2px; transition: all 0.2s ease;}
.form-switch:checked+label{background-color: #33afe9;}
.form-switch:checked+label:after{left:22px}

.form-checkAll{position: absolute; top: -9999px; width: 0; height: 0; visibility: hidden;}
.form-checkAll+label{line-height: 24px; display: inline-block; vertical-align: middle; cursor: pointer; color: #666;}
.form-checkAll+label:before{display: inline-block; width: 20px; height: 20px; background: url(../images/img_check_all_default.png) no-repeat 50% 50%; content: ""; vertical-align: middle; margin-right: 7px; cursor: pointer; background-size:17px auto;}
.form-checkAll:checked+label:before{background: url(../images/img_check_all.png) no-repeat 50% 50%; background-size:17px auto;}



/* swiper */
.swiper-pagination-bullets{text-align: center; position: absolute; bottom: 10px; left: 0; width: 100%; }
.swiper-pagination-bullets .swiper-pagination-bullet {display: inline-block; margin:0 3px; width: 6px; height: 6px; border: 1px solid #fff; text-indent: -9999px; overflow: hidden; border-radius: 3px; box-sizing: border-box; vertical-align: middle;opacity:1;background-color:rgba(0,0,0,0)}
.swiper-pagination-bullets .swiper-pagination-bullet-active{width: 8px; height: 8px; background-color: #fff; border-radius: 4px;}


/* link */
a{color:#666;text-decoration:none;}
a:link, a:visited, a:active{text-decoration: none;}
a:hover{color:#666;}

/* color */
.f_blue{color: #2995c7;}
.f_red{color: #bc2a3e;}

/* btn */
.btn{display: inline-block; text-align: center;  font-size: 16px; box-sizing: border-box; color: #fff;;}
.btn-m{height: 35px; line-height: 36px; padding: 0 10px; min-width: 65px; border-radius:16px; font-size: 14px;}
.btn-l{width:200px; height: 60px; line-height: 60px; font-size: 18px; border-radius: 30px;}
.btn-ml{width:110px; height: 50px; line-height: 50px; font-size: 16px; border-radius: 25px;}
.btn-s{height: 34px; line-height: 36px; padding: 0 12px; border-radius:3px;}
.btn-ms{height: 34px; line-height: 36px; padding: 0 12px; border-radius:3px; min-width: 68px;}
.btn-xs{height: 32px; line-height: 32px; padding: 0 10px; border-radius:3px;}
.btn-xxs{height: 24px; line-height: 24px; padding: 0 10px; border-radius:3px; font-size: 13px;}
.btn-gray{background-color: #aaaaaa; color: #fff;}
.btn-blue{border:none; background-color: #33afe9;}
.btn-dark{background-color: #6a6a6e; color: #fff !important; }
.btn-pupple{background-color: #413eaa !important; color: #fff; }
.btn-white{background-color: #fff; border: 1px solid #aaa; color: #666666;}
.btn-square{display: inline-block; width: 34px; height: 34px; background-color: #f7f7f7; border-radius:3px; border: 1px solid #dbdee1; color: #888888; text-align: center;}
.btn:disabled{color: #fff; background-color: #cdcdcd;}
.btnLine{}
.btnLine:after{content:""; display: block; clear: both;}
.btnLine .btnCenter{text-align: center;}


/* layout */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, textarea, input, select, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, audio, canvas, video {margin:0; padding:0; line-height:140%; }
ol, ul {list-style:none;}
.articleBlock{padding:0 15px; position: relative;}
.articleBlock:after{content: ""; display: block; clear: both;}

.innerContents{padding:30px 15px; position: relative;}
.innerContents:after{content: ""; display: block; clear: both;}




html{min-width: 360px; height: 100%;}
body{font-family:'Nanum Square','dotum',Arial,Verdana, Helvetica, sans-serif; font-size: 14px;  color: #fff; font-weight:300; background-color: #161616; background: url(../images/bg_pattern.png);}
#header .menu {
    position:absolute;
    top:17px;
    right:17px;
    z-index:999;
}

#header .menu:after {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    width:45px;
    height: 32px;
}

#header .menu > span {
    display:block;
    width:27px;
    height:2px;
    background-color:#fff;
    margin-top:2px;
}

#content .intro .title-con{
    position:absolute;
    top:50%;
    width: 100%; text-align: center;
    margin:-12px auto 0 auto;
}
#content .intro .main-tit{
    position:relative;
    z-index:9;
}
#content .intro .main-tit .txt{
    display:inline-block;
    vertical-align:bottom;
    font-size:22px;
    color:#fff;
    font-weight: 400;
}
#content .intro .main-tit .line{
    display:inline-block;
    width:12px;
    height:2px;
    vertical-align:bottom;
    background-color:#fff;
    position:relative;
    top:-8px;
    margin-left:0px;
    animation:typoAni 0.5s infinite ease-in-out;
    -webkit-animation:typoAni 0.5s infinite ease-in-out;
    -ms-animation:typoAni 0.5s infinite ease-in-out;
}
#content .intro .btn_go{position: absolute; bottom: 60px; text-align: center; width: 100%;}
#content .intro .btn_go a{color: #fff; display: inline-block; border: 1px solid #fff; padding: 5px 10px; font-size: 12px;}
#content .intro .sub-tit{
    position: absolute;
    bottom:-10px;
    left:50%;
    color:#fff;
    font-size:9px;
    margin-left: 70px;
}
@keyframes typoAni{
    0%{
        opacity:0;
    }
    25%{
        opacity:1;
    }
    50%{
        opacity:1;
    }
    75%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

@-webkit-keyframes typoAni{
    0%{
        opacity:0;
    }
    25%{
        opacity:1;
    }
    50%{
        opacity:1;
    }
    75%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

#header{position: fixed; left: 0; right: 0; top: 0; height: 50px; background-color: #000000; z-index: 130;}
#header.indexHeader{background: none;}
#header.indexHeader h1{padding-left: 0; padding-top: 0;}
#header .nepaText{ font-size: 8px;position: absolute; left: 15px; top: 20px;}
#contentsArea.index{background: url(../images/bg_index.jpg) no-repeat 50% 50%; background-size: 100% auto; height: 100vh;}
#header .logo_index{text-align: center; position:fixed; bottom: 20px; width: 100%; left: 0;}
#header h1{ padding-top: 12px; padding-left: 15px;}
#header h1 img{width: 50px;}
.row{position: relative; padding: 0 15px;}
.row:after{content: ""; display: block; clear: both;}

#content{padding-top: 50px; padding-bottom: 20px; box-sizing: border-box;}
#content .main .main-list{position: relative;}
#content .main .main-list .name-con{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-62px;
    margin-top:-20px;
    display: block;
}
#content .main .main-list .name-con .box-con{
    position:relative;
    display: inline-block;
    height:20px;
    border:solid 1px #fff;
    line-height: 20px;
    overflow: hidden;
    cursor: pointer;
    z-index:1;
    box-sizing: border-box;
    padding-right: 15px;
    width: 124px;
    text-align: center;
}
#content .main .main-list .name-con .box-con .title{
    font-weight:bold;
    font-size:14px;
    color:#fff;
    margin-left:5px;
}
#content .main .main-list .name-con .box-con .arrow{
    display:inline-block;
    width:4px;
    height:8px;
    background:url(../images/main/arrow.png) no-repeat;
    margin-left:10px;
    background-size: 4px auto;
    position: relative; top: -1px;

}
#content .main .main-list.men .name-con .box-con .arrow{
    margin-left:10px;
}

#content .main .main-list.show .name-con .box-con:before{
    animation:boxAni 0.6s ease-in-out;
}


#content .main .main-list .text{
    font-weight:bold;
    font-size:10px;
    color:#fff;
    text-align:center;
}


#content .main .v-line{
    position:absolute;
    top:0;
    left:50%;
    width:1px;
    height:100%;
    background-color:#fff;
}
.playerBlock{background-color: #000; text-align: center; position: relative;}
.playerBlock .text{position: absolute; left: 0; top:50%; text-align: center; width: 100%; margin-top: -25px;}
.playerBlock .text .title{ font-size: 20px; font-weight: 900;text-transform: uppercase; line-height: 100%;}
.playerBlock .text .summery{font-size: 12px;text-transform: uppercase;}
.playerBlock .text .with{font-size: 10px;}

.downSelect li{float: left; width: 49%;}
.downSelect li img{width: 100%;}
.downSelect li:last-child{float:right;}
.gnb-wrap{position: fixed; left: 0; top: 0; right: 0; bottom: 0; background-color:rgba(0,0,0,0.9); z-index: 100; box-sizing: border-box;}
.gnb-bg{}
.gnb-wrap{transition: all 0.4s ease; transform: translateY(100%);}
.gnb-wrap.active{transform: translateY(0)}
.gnb{position:absolute; left: 0; width: 100%; top: 0; height: 100%; z-index: 110; text-align: center; vertical-align: middle; text-transform: uppercase;}
.gnb a{color: #fff;}
.gnb>ul{position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) }
.gnb>ul>li{margin-bottom: 20px; line-height: 100%;}
.gnb>ul>li>a{font-size: 20px; font-weight: 900;}
.gnb>ul>li.all>a{font-size: 14px; font-weight: 900; color: #ffe827; border: 1px solid #fff; display: inline-block; padding: 0 10px; border-radius: 5px; padding-top: 1px;line-height: 24px;}
.gnb>ul>li.all>a img{margin-left: 5px;}
.gnb>ul>li>ul>li{margin-top: 5px;}
.gnb>ul>li>ul>li>a{font-size: 16px; font-weight: 600; display: block; margin-bottom: 10px; margin-top: 5px;}
.gnb>ul>li>ul>li>a:after{content: ""; display: inline-block; width: 14px; height: 14px; background: url(../images/plus_icon.png) no-repeat 0 0; background-size: 14px; margin-left: 5px; vertical-align: middle; position: relative; top: 1px;}
.gnb>ul>li>ul>li.active>a:after{background-position:0 -15px;}
.gnb>ul>li>ul>li>ul{margin-bottom: 20px; display: none;}
.gnb>ul>li>ul>li>ul>li{}
.gnb>ul>li>ul>li>ul>li>a{font-size: 14px; color: #c4c4c4;line-height: 24px;}
.gnb>ul>li>ul>li>ul>li>a span{color: #fd0505;}

.listSlider {position: relative;}
.listSlider ul li img{width: 100%;}


.cateTitle{padding: 15px 0; text-align: center; position: relative;}
.cateTitle h2{display: inline-block; border: 1px solid #fff; font-size: 15px; font-weight: 600; box-sizing: border-box; height: 26px; min-width: 105px; line-height: 26px; background: url(../images/productList/bg_title.png); background-size: 50%; z-index: 10; position: relative; padding-left: 15px; padding-right: 15px; box-sizing: border-box;}
.cateTitle:after{content: ""; display: block; height: 1px; background-color: #fff; position: absolute; width: 100%; left: 0; top: 28px; z-index: 1;}

.productList{text-transform: uppercase;}
.productList li{float: left; width: 49%; text-align: center; padding-bottom: 20px;}
.productList li:nth-child(2n+2){float:right;}
.productList li img{width: 100%;}
.productList li .name{padding-top: 15px; font-size: 14px;}
.productList li .name span{color: #ff0000;}

.detailVisual li img{width: 100%;}

.productInfo{padding-top: 40px; text-align: center; margin-bottom: 20px;}
.productInfo .title{font-size: 20px; font-weight: bold; text-transform: uppercase;}
.productInfo .info{font-size: 12px;}
.productInfo .info span{color: #f00;}
.productInfo .number{font-size: 10px;}
.productSlider {position: relative;}
.productSlider .swiper-container{padding-bottom: 15px;}
.productSlider .swiper-pagination-bullets{bottom:-5px !important}
.productSlider .swiper-button-prev{position: absolute; left: 0; top: 0; height: 100%; width: 30px; background: url(../images/btn_detail_prev.png) no-repeat 50% 50%; background-size:10px auto; opacity: 0.5}
.productSlider .swiper-button-next{position: absolute; right: 0; top: 0; height: 100%; width: 30px;background: url(../images/btn_detail_next.png) no-repeat 50% 50%; background-size:10px auto; opacity: 0.5}
/*
.productSlider .bx-wrapper{display: none;}
.productSlider .bx-wrapper:first-child{display: block;}
*/
.productSlider .slider li {text-align: center;}
.productSlider .slider li img{ width: 80%;}


.productSelect {text-align: center; position: relative; height: 100px; margin-top: 30px;}
.productSelect li{display: inline-block; text-align: center;}
.productSelect li a{border: 0px solid #fff; width: 60px; height: 60px; box-sizing: border-box; text-align: center; display: block;}
.productSelect li a img{height: 90%; margin-top: 5%;}
.productSelect li .colorInfo{position: absolute; top: 70px; left: 0; width: 100%; text-align: center; font-size: 12px; display: none;}
.productSelect li.active a{border: 1px solid #fff;}
.productSelect li.active .colorInfo{display: block;}

.productSlider .bx-pager{text-align: center; width: 100%; }
.productSlider .bx-pager .bx-pager-item {display: inline-block; margin:0 3px; vertical-align: middle;}
.productSlider .bx-pager .bx-pager-item a{display: inline-block; width: 6px; height: 6px; border: 1px solid #fff; text-indent: -9999px; overflow: hidden; border-radius: 3px; box-sizing: border-box; vertical-align: middle;}
.productSlider .bx-pager .bx-pager-item a.active{width: 8px; height: 8px; background-color: #fff; border-radius: 4px;}

.detailInfo{text-align: center;}
.detailInfo .price{font-size: 20px; font-weight: bold;}
.detailInfo .price span{font-size: 15px; margin-right: 5px;}
.detailInfo .size{ font-size: 14px; margin-top: 10px;}
.detailInfo .sizeList li { 
    display: inline-block; 
    border: 1px solid #989898; 
    color: #fff; 
    font-size: 11px; 
    width: 30px; 
    border: 1px solid #989898; 
    padding-top: 3px;
    text-align: center; 
    margin: 0 2px; 
    box-sizing: border-box; 
    margin-top: 10px;}

.btn_top{position: fixed; right: 15px; bottom: 15px; z-index: 99;}
.btn_top img{width: 35px;}

.detailImg {margin-top: 40px;}
.detailImg img{width: 100%;}

.itemList{ background-color: #fff; padding: 20px 0; padding-left: 15px;}
.itemList li a{display: block; text-align: center; font-size: 12px; font-weight: bold;}
.itemList li a img{ display: block; margin-bottom: 10px; width: 100%;}
.itemList li a span{color: #f00;}

.allItem{text-align: center; }
.allItem h2{font-size: 20px; font-weight: bold; color: #ffe827;background: url(../images/bg_pattern.png); padding: 5px 0;}
.allItem .filterBtn {}
.allItem .filterBtn img{vertical-align: middle; position: relative; top: -1px;}
.allItem .filterBtn a{ color: #ffe827; background-color: #000; display: block; box-sizing: border-box; height: 34px; line-height: 38px; font-size: 14px;}

.filter{text-align: left; background-color: #000; display: none; position: relative; z-index: 10;}
.filterList dl{border-top: 1px solid rgba(255,255,255,0.3);}
.filterList dl dt{height: 30px;  line-height: 32px; display: block; position: relative; padding-left: 15px;padding-right: 15px;}
.filterList dl dt:after{content: ""; display: block; background: url(../images/ico_more.png) no-repeat; width: 16px; height: 16px; right:15px; position: absolute; top: 7px;}
.filterList dl dt.active:after{background: url(../images/ico_more_up.png) no-repeat; background-position: 50% 50%;}
.filterList dl dd{padding: 10px 0; display: none;border-top: 1px solid rgba(255,255,255,0.3);  padding-left: 15px;padding-right: 15px;}
.filterList dl dd li{padding: 3px 0; line-height: 20px;}
.filterList dl dd li .color{display: inline-block; width: 12px; height: 12px; border: 1px solid #fff; margin-right: 5px; vertical-align: middle; position: relative; top:-1px;}
.filterList dl dd li .color.color-1{background-color: #fff;}
.filterList dl dd li .color.color-2{background-color: #eaebe6;}
.filterList dl dd li .color.color-3{background-color: #000;}
.filterList dl dd li .color.color-4{background-color: #666;}
.filterList dl dd li .color.color-5{background-color: #041531;}
.filterList dl dd li .color.color-6{background-color: #2b1307;}
.filterList dl dd li .color.color-7{background-color: #bb879c;}
.filterList dl dd li .color.color-8{background-color: #6f1426;}
.filterList dl dd li .color.color-9{background-color: #2c271b;}
.filterList dl dd li .color.color-10{background-color: #0e1c33;}
.filterList dl dd li .color.color-11{background-color: #2f2744;}
.filterList dl dd li .color.color-12{background-color: #d4cfba;}
.filterList dl.detials dd ul{overflow:hidden}
.filterList dl.detials dd li{float:left;width:50%}
.filterList dl.colortone dd ul{overflow:hidden}
.filterList dl.colortone dd li{float:left;width:33.333%}
.filterList dl.cm dd ul{overflow:hidden}
.filterList dl.cm dd li{float:left;width:50%}
.filterList dl.price dd ul{overflow:hidden}
.filterList dl.price dd li{float:left;width:50%}

.btnSubmit{text-align: center; background-color:rgba(255,255,255,0.1); padding: 20px 0;}
.btnSubmit a{display: inline-block; color: #fff; border: 1px solid #fff; height: 28px; line-height: 28px; width: 29%; margin: 0 1%;}
.btnSubmit a.apply-btn{color: #ffe827;}

.scroll-container{ margin-top:90px;}

.item-con{
    width:50%;
    padding:3%;
    box-sizing:border-box;   
    float: left;
    position: relative;
}



.item-con .img-con{
    width:100%; 
    position:absolute;
    top:0;
    left:0;
    box-sizing:border-box;
    padding:0 10%;
}

.item-con .img-con img{
    width:100%;
    height:auto;
    vertical-align:bottom;
    cursor:pointer;
    transition:all 0.6s ease-out;
    -webkit-transition:all 0.6s ease-out;
    -ms-transition:all 0.6s ease-out;
}

.item-con.hover .img-con img{
    transform:scale(1.03)
}


.item-con .box-con{
    width:100%;
    text-align: center;
    border:solid 1px rgba(255,255,255,0.3);
    padding-top:45%;
    margin-top:70%;
    cursor:pointer;
     transition:all 0.4s ease-out;
    -webkit-transition:all 0.4s ease-out;
    -ms-transition:all 0.4s ease-out;
    height: 275px;
}

.item-con.hover .box-con{
    border-color: rgba(255,255,255,1);
}
.item-con .box-con .main-title{
    position:relative;
    display:inline-block;
    font-size:12px;
    color:#fff;
    
    margin-left: 10px; margin-right: 10px; height: 35px;
}
.item-con .box-con .main-title > span{
    font-size:8px;
    font-weight:100;
    display: block; text-align:center;
}

.item-con .box-con .price{
    margin-top:2px;
    color:#fff;
    font-size:14px;
    font-weight:100;
}
.item-con .box-con .price >span{
    font-size:8px;
}

.item-con .box-con .details{
    position:relative;
    margin-top:15px;
    height:155px;
    box-sizing:border-box;
    border-top:solid 1px #fff;
}
.item-con .box-con .details .title{
    position:absolute;
    top: -20px;
    right: 10px;
    color:#fff;
    font-size:8px;
    font-weight:bold;
}

.item-con .box-con .details .size-color{
    font-size:9px;
    font-weight:100;
    color:#c2c2c2;
    margin-top:5px;
    height:30px;
}

.item-con .box-con .info{height:130px; }
.item-con .box-con .info > li{
    color:#c2c2c2;
    font-size:10px;
    font-weight:100;
    margin-top:6px
}

.item-con .box-con .info > li >span{
    margin-left:5px;
    vertical-align:middle;
}

.item-con .box-con .info > li:before{
    content:"";
    display:inline-block;
    width:1px;
    height:1px;
    background-color:#c2c2c2;
    vertical-align:middle;
    margin-right:4px;
}

.item-empty{
    position:absolute;
    top:50%;
    width:100%;
    text-align: center;
    display:none;
}

.brand-title {
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
   
    position: absolute; width: 100%; top: 70px; left: 0; background: rgba(0,0,0,0.5); padding: 5px 0;
}
.brand-title:after{content: ""; display: block; clear: both;}

.filterArea{position: fixed; left: 0; right: 0; top: 50px; z-index: 60;}

.go_intro{position: absolute; left: 0; top: 50px; right: 0; bottom: 0;}